*
	margin 0
	padding 0
	
body
	font-family "Tahoma", sans-serif, "Arial"
	padding-top 50px
	
.body-bg
	cursor pointer
	&:before
		content ''
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		z-index 12
		opacity 0
		cursor pointer
	
a
	color black
	text-decoration none
	
ul
	list-style-type none

.wrapper
	overflow hidden
	
.wr-form_datas
	width 450px
	margin 0px auto
	position relative
	transition all .5s


	&-inp
		display inline-block
		vertical-align middle
		outline none
		border 0
		height 35px
		line-height 35px
		font-size 16px
		box-shadow 0px 0px 6px 2px rgba(black, .5)
		border-radius 5px
		width 300px
		padding 0 15px
		box-sizing border-box
		margin 6px 0
	
	&-btn
		cursor pointer
		display inline-block
		vertical-align middle
		outline none
		height 37px
		line-height 34px
		color white
		background #5cb85c
		border 1px solid #4cae4c
		border-radius 5px
		padding 0 10px
		// box-sizing border-box
		
		&:hover
			background-color #449d44
			border-color #398439
			
.wr-blocks-w
	width 550px
	margin 50px auto 0
	text-align center
	display none
	
.wr-block
	margin-bottom 30px
	text-align left
	
	&-img
		display inline-block
		vertical-align middle
		width 100px
		height 100px
		margin-right 20px
		border 1px solid #c2c2c2	
		
	&-comment
		display inline-block
		vertical-align middle
		margin -25px 20px 0 0
		
		&-lb-text
			display block
			margin-bottom 15px
			color #8E8989
			font-size 18px
			
		&-lb-inp
			width 300px	
			border 0
			outline 0
			height 35px
			line-height 35px 
			font-size 16px
			box-shadow 0px 0px 6px 2px rgba(black, .5)
			border-radius 5px
			padding 0 15px
			box-sizing border-box
	
	&-select_active
		display block
		text-align center
		
		
		&-text
			font-size 18px
			position relative
			display inline-block
			vertical-align top
			padding-right 25px
			cursor pointer
			
			&::before
				content ''
				position absolute
				top 50%
				right 0
				width 15px
				height 15px
				border 2px solid black
				border-radius 50%
				margin-top -8px
				
			&::after
				content ''
				position absolute
				top 50%
				right 4px
				width 11px
				height 11px
				border 0px
				border-radius 50%
				margin-top -4px
				background black
				display none
		
		&-radio
			opacity 0
			
			&:checked + .wr-block-select_active-text > .small-round	
				display block

	&-delete
		display inline-block
		vertical-align middle
		color #8E8989
		
		&:hover
			color black
			border-bottom 1px dashed black
			
.small-round
	position absolute
	top 50%
	right 4px
	width 11px
	height 11px
	border 0px
	border-radius 50%
	margin-top -4px
	background black
	display none

.wr-form_blocks-btn
	cursor pointer
	display inline-block
	vertical-align middle
	outline none
	height 37px
	line-height 34px
	color white
	background #5cb85c
	border 1px solid #4cae4c
	border-radius 5px
	padding 0 10px
	box-sizing border-box
	
	&:hover
		background-color #449d44
		border-color #398439

.slider-main-w
	background #345
	padding 30px
	position absolute
	left -1000px

.slider-w
	width 500px
	height 400px
	margin 0px auto 10px
	position relative
	overflow hidden 
	border-radius 5px
	opacity 0
	
.slider 
	padding 0
	width 100%
	position absolute
	top 0
	left 0
	white-space nowrap
	// transition all .5s
	font-size 0
	
	&-img
		display inline-block
		vertical-align top
		width 100%
		height 400px
		font-size 16px
		position relative
		
		img
			display block
			width 100%
			height 100%
			
		&-comment
			position absolute
			bottom 0
			left 0
			right 0
			height 50px
			background #1A9AC5
			z-index 2
			color white
			padding 5px 10px
			box-sizing border-box
			border-radius 3px 3px 0px 0px
	
	&-navigation
		text-align center
		cursor default
		
		&-circle
			display inline-block
			vertical-align top
			width 15px
			height 15px
			background #ccc
			border-radius 50%
			margin-left 5px
			cursor pointer
			
			&:hover
				background #f2f2f2
				
		

.one 
	background #ccc
	height 100%
	
.two
	background #8e8e8e
	height 100%
	
.three
	background #000
	height 100%

.four
	background #d1ddd1
	height 100%

.five
	background blue
	height 100%
	
.slider-arrow
	position absolute
	top 50%
	left 5px
	width 40px
	height 40px
	background 	white
	z-index 2	
	margin-top -20px
	border-radius 50%

.slider-arrow[data-slide="1"]
	right 5px
	left inherit
			
.wr-download
	width 50px
	height 50px
	border-radius 50%
	border 2px solid #000
	border-right 0
	border-bottom 0
	margin 0 auto
	position relative
	animation: around-to 1700ms linear infinite
	border 0
	
	&:before
		content ''
		position absolute
		top 50%
		left 50%
		width 38px
		height 38px
		border-radius 50%
		border 2px solid #000
		margin -19px 0 0 -19px
		border-bottom 0
		border-right 0
		animation: around-from 2000ms linear infinite
		
	&:after
		content ''
		position absolute
		top 50%
		left 50%
		width 20px
		height 20px
		border-radius 50%
		border 2px solid #000
		margin -10px 0 0 -10px
		border-bottom 0
		border-right 0
		animation: around-to 2000ms linear infinite
		
.errMes
	position fixed
	top 30px
	right 50px
	width 450px
	height 150px
	padding 15px 20px
	box-sizing border-box
	border-radius 3px
	background #D6D2D2
	color #E04646
	
	&-head
		margin 0 0 15px
		font-size 24px
	
	&-text
		font-size 18px
	
		
@keyframes around-to
	100%
		transform rotate(360deg)
		
@keyframes around-from
	100%
		transform rotate(360deg)